* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Poppins", sans-serif;
}

:root {
  font-size: 62.5%;
}

body {
  height: 90vh;
}

.c-top-image {
  width: 100%;
  position: absolute;
  z-index: -1;
}

.c-main {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8.2rem;
  height: 100%;
  position: relative;
}

.c-main__countdown {
  display: flex;
  flex-direction: column;
}

.c-main__title {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.105em;
}

.c-main__time {
  margin: 1.9rem 0 4.6rem 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.c-main__period {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.c-main__aside img {
  width: 60.7rem;
}

.c-main__subscribe {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3.1rem;
}

.c-main__subscribe p {
  font-weight: 400 !important;
}

.c-bottom-image {
  position: absolute;
  bottom: 0;
  z-index: -1;
  width: 100%;
}

.c-modal__container {
  background: rgb(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

.c-modal {
  background: white;
  margin: 0 3rem;
  padding: 3rem;
  border-radius: 0.5rem;
  width: 62rem;
  height: 42rem;
  position: relative;
}

.c-modal__exit-button {
  color: #6c63ff;
  font-size: 3rem;
  font-weight: 700;

  position: absolute;
  top: 1.5rem;
  right: 3rem;
  cursor: pointer;

  transition: all 0.2s;
}

.c-modal__exit-button:hover {
  color: rgb(108, 99, 255, 0.7);
}

.c-modal__fieldset {
  border: none;
}

.c-modal__title {
  margin-left: 1rem;
}

.c-modal__form {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  height: 85%;
}

.c-modal__group {
  display: flex;
  flex-direction: column;
  width: 90%;
}

.c-modal__input {
  padding-left: 1.5rem;
  border: 1px solid #c8c8c8;
  border-radius: 0.5rem;
  outline: none;
  height: 4rem;

  color: #4d4c59;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.8rem;
}

.c-modal__input:focus {
  border: 2px solid #6c63ff;
}

.c-modal__input::placeholder {
  color: #b0afaf;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.8rem;
}

.c-modal__button {
  margin-top: 1rem;
}

.u-button {
  padding: 0.8rem 3.2rem;
  background: #6c63ff;

  border: none;
  border-radius: 1rem;
  width: max-content;

  transition: all 0.3s ease-in-out;
}

.u-button--large {
  width: 16rem;
}

.u-button:hover {
  background: rgb(108, 99, 255, 0.9);
  transform: scale(1.1);
}

.u-typography-title {
  color: #6c63ff;
  font-size: 3.6rem;
  font-weight: 700;
  line-height: 5.5rem;
}

.u-typography-info {
  color: #6b6a6a;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 2.1rem;
  text-align: center;
}

.u-typography-number {
  color: #4d4c59;
  font-size: 7.2rem;
  font-weight: 400;
  line-height: 10.8rem;
}

.u-typography-button {
  color: white;
  font-family: 1.6rem;
  font-weight: 400;
  line-height: 2.4rem;
  cursor: pointer;
}

.u-typography-label {
  color: #6c63ff;
  font-size: 1.6rem;
  font-weight: 500;
}

.is-hidden {
  display: none;
}

@media (max-width: 1250px) {
  :root {
    font-size: 55%;
  }
}

@media (max-width: 1100px) {
  .c-main {
    padding: 0 2rem;
    flex-direction: column;
    gap: 2rem;
  }

  .c-main__countdown {
    order: 1;
  }

  .c-main__time {
    margin-bottom: 2.5rem;
  }

  .c-main__aside {
    display: flex;
    justify-content: center;
  }

  .c-main__aside img {
    width: 40%;
  }
}

@media (max-width: 430px) {
  .u-typography-number {
    font-size: 6rem;
    line-height: 9rem;
  }
}
